/*
    Credits to: https://loading.io/css/
 */
.root {
    --color: var(--dark-gray);
    display: inline-block;
    width: 1em;
    height: 1em;
}
.root:after {
    content: " ";
    display: block;
    width: 0.8em;
    height: 0.8em;
    margin: .1em;
    border-radius: 50%;
    border: .08em solid var(--color);
    border-color: var(--color) transparent var(--color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}