.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50vmax;
    height: 100%;
}
.form div {
    flex-grow: 1;
}
.input {
    display: block;
    font-size: 4vmax;
    margin-bottom: 1vmax;
    padding: .2em;
    color: var(--asphalt)
}
.input::placeholder {
    color: var(--gray);
}
.submit {
    font-size: 3vmax;
    background-color: var(--blue);
    color: white;
    border: none;
    padding: .2em;
    cursor: pointer;
}
.error {
    color: var(--pomegranate);
}